.collapse_container {
  max-width: 63.9rem;
  width: 100%;
  overflow: hidden;
}

.collapse {
  height: 2rem;
  border-radius: 0.31rem;
  background-color: #ff6060;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.62rem 1.25rem 0.62rem 0.94rem;
  position: relative;
}

.closeArrow {
  cursor: pointer;
  animation: closeRotation 0.5s ease;
}

.openArrow {
  cursor: pointer;
  animation: openRotation 0.5s ease;
}

.equipments_elements {
  list-style: none;
}

.content {
  width: 100%;
  border-radius: 0 0 0.31rem 0.31rem;
  background-color: #f6f6f6;
  font-size: 1.125rem;
  font-weight: 400;
  line-height: 142.6%;
  opacity: 1;
  transition: height 0.6s ease-in-out;
}

.visible {
  opacity: 1;
  /* margin-top: -5px; */
  transition: height 0.6s ease-in-out;
}

.content p {
  padding: 1.25rem 1.25rem;
}

/* ------------------- ARROW ANIMATION ------------------- */
@keyframes openRotation {
  0% {
    transform: rotate(-180deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

/* ------------------- MEDAI QUERIES ------------------- */
@keyframes closeRotation {
  0% {
    transform: rotate(180deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

@media screen and (max-width: 378px) {
  .frame_closed {
    /* width: 100%; */
    height: auto;
    position: relative;
    top: -218px;
    border-radius: 10px 10px 5px 5px;
    background-color: #f6f6f6;
    font-size: 18px;
    font-weight: 400;
    line-height: 25.67px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -5rem;
    transition: 0.8s;
  }
}
