.banniere-home {
  max-width: 77.5rem;
  width: 100%;
  height: 13.9rem;
  border-radius: 1.56rem;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
    url(../../assets/body_picture_home.png) center/cover;
  display: flex;
  justify-content: center;
  align-items: center;
}

.banniere-home p {
  width: 44.06rem;
  height: 4.25rem;
  font-size: 3rem;
  font-weight: 500;
  line-height: 142.6%;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.banniere-about {
  max-width: 77.5rem;
  width: 100%;
  height: 13.9rem;
  border-radius: 1.56rem;
  background: url(../../assets/body_picture_about.png) center/cover;
  filter: brightness(0.9);
}

.banniere-about p {
  display: none;
}

/* ------------- MEDIA QUERIES ------------- */

@media screen and (max-width: 378px) {
  .banniere-home {
    max-width: 20.9rem;
    max-height: 6.94rem;
  }

  .banniere-home p {
    width: 13.5625rem;
    height: 3rem;
    font-size: 1.5rem;
    line-height: 100%;
  }

  .banniere-about {
    max-width: 20.9rem;
    max-height: 6.94rem;
  }
}

@media screen and (min-width: 379px) and (max-width: 480px) {
  .banniere-home {
    width: 100%;
    max-height: 6.94rem;
  }
  .banniere-home p {
    height: 3rem;
    font-size: 1.5rem;
    line-height: 100%;
  }

  .banniere-about {
    width: 100%;
    max-height: 6.94rem;
  }
}

@media screen and (min-width: 481px) and (max-width: 768px) {
  .banniere-home {
    max-height: 6.94rem;
  }

  .banniere-home p {
    height: 3rem;
    font-size: 1.8rem;
    line-height: 100%;
  }

  .banniere-about {
    max-height: 6.94rem;
  }
}
