.home_container {
  width: 1240px;
  /* height: auto; */
  min-height: 1095px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin: 3rem auto;
}
