.home_container {
  width: 1240px;
  min-height: 1095px;
  margin: 3rem auto;
  /* height: auto; */
  /* display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center; */
}

