.home_container {
  max-width: 77.5rem;
  min-height: 68.4rem;
  margin: auto;
  /* padding: 2.81rem; */
}

@media screen and (max-width: 378px) {
  .home_container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1.25rem;
  }
}

@media screen and (max-width: 1024px) {
  .home_container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1.5rem;
  }
}

@media screen and (min-width: 1025px) {
  .home_container {
    width: 93%;
  }
}
