.footer {
  width: 100%;
  /* max-width: 1440px; */
  height: 13.1rem;
  position: relative;
  bottom: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  background-color: black;
}

.footer_container {
  width: 32.1rem;
  height: 7.13rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.78rem;
}

.footer img {
  width: 7.63rem;
  height: 2.47rem;
}

.footer p {
  width: 32.1rem;
  height: 2.87rem;
  font-size: 1.5rem;
  font-weight: 500;
  line-height: 142.6%;
  color: white;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

@media screen and (max-width: 480px) {
  .footer_container {
    width: 8.35rem;
    height: 5.31rem;
  }

  .footer p {
    font-size: 0.75rem;
  }
}