.header {
  max-width: 1240px;
  height: 68px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: auto;
  padding: 45px;
}

.header img {
  max-width: 210.32px;
  height: 68px;
}

nav {
  max-width: 309px;
  height: 34px;
  display: flex;
  gap: 57px;
}

.lien {
  font-size: 24px;
  font-weight: 500;
  line-height: 34.22px;
  display: flex;
  justify-content: flex-end;
  text-decoration: none;
  /* text-decoration: underline; */
}

.lien:first-child {
  width: 136px;
}

.lien:last-child {
  width: 116px;
}

.lien:hover {
  text-decoration: underline;
}
/* 
.underline_content {
  font-size: 24px;
  font-weight: 500;
  line-height: 34.22px;
  display: flex;
  justify-content: flex-end;
  text-decoration: none;
  text-decoration: underline;
} */
