.header {
  max-width: 77.5rem;
  height: 4.25rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 2.81rem;
  margin: auto;
  margin-bottom: 3.12rem;
}

.header img {
  max-width: 13.15rem;
  height: 4.25rem;
}

nav {
  max-width: 19.3rem;
  height: 2.13rem;
  display: flex;
  gap: 3.56rem;
}

.lien {
  font-size: 1.5rem;
  font-weight: 500;
  line-height: 142.6%;
  text-align: right;
  text-decoration: none;
}

.lien:first-child {
  width: 8.5rem;
}

.lien:last-child {
  width: 7.25rem;
}

.lien:hover {
  text-decoration: underline;
}

/* -------------- MEDIA QUERIES -------------- */

@media screen and (max-width: 378px) {
  .header {
    max-width: 20.9rem;
    height: 2.93rem;
    padding: 1.25rem 1.5rem 0 1.5rem;
    margin-bottom: 1.69rem;
    display: flex;
    align-items: center;
  }

  .header img {
    max-width: 9.06rem;
    height: 2.93rem;
    flex-shrink: 0;
  }

  nav {
    max-width: 11.87rem;
    height: 1.06rem;
    gap: 1.62rem;
    justify-content: flex-end;
    align-items: flex-start;
    flex: 1 0 0;
  }

  .lien {
    font-size: 0.75rem;
    text-transform: uppercase;
  }

  .lien:first-child {
    width: 3.44rem;
  }

  .lien:last-child {
    width: 4.13rem;
  }
}

@media screen and (min-width: 379px) and (max-width: 480px) {
  .header {
    padding: 1.5rem 1.5rem 0 1.5rem;
    margin-bottom: 1.69rem;
  }

  .header img {
    max-width: 9.06rem;
    height: 2.93rem;
    flex-shrink: 0;
  }

  nav {
    height: 1.06rem;
    gap: 1.62rem;
    justify-content: flex-end;
    align-items: flex-start;
    flex: 1 0 0;
  }

  .lien {
    font-size: 0.75rem;
    text-transform: uppercase;
  }

  .lien:first-child {
    width: 3.44rem;
  }

  .lien:last-child {
    width: 4.13rem;
  }
}

@media screen and (min-width: 481px) and (max-width: 768px) {
  .header {
    padding: 1.5rem 1.5rem 0 1.5rem;
    margin-bottom: 1.69rem;
  }

  .header img {
    max-width: 9.06rem;
    height: 2.93rem;
    flex-shrink: 0;
  }

  nav {
    height: 1.5rem;
    gap: 1.62rem;
    justify-content: flex-end;
  }

  .lien {
    font-size: 1.2rem;
    text-transform: uppercase;
  }
}

@media screen and (min-width: 769px) and (max-width: 1024px) {
  .header {
    padding: 1.5rem 1.5rem 0 1.5rem;
    margin-bottom: 1.69rem;
  }

  .header img {
    height: 2.93rem;
    flex-shrink: 0;
  }

  nav {
    height: 1.5rem;
    gap: 1.62rem;
    justify-content: flex-end;
  }

  .lien {
    font-size: 1.2rem;
    text-transform: uppercase;
  }
}

@media screen and (min-width: 1025px) {
  .header {
    width: 93%;
  }
}
