.about_container {
  max-width: 77.5rem;
  height: 100%;
  min-height: 34.9rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
  gap: 2.38rem;
}

@media screen and (max-width: 378px) {
  .about_container {
    max-width: 20.9rem;
    min-height: 19.4rem;
    gap: 1.19rem;
    padding: 0 1.25rem;
    margin: 0;
  }
}

@media screen and (max-width: 1024px) {
  .about_container {
    /* max-width: 20.9rem;  */
    width: 100%;
    min-height: 19.4rem;
    gap: 1.19rem;
    padding: 0 1.25rem;
    margin: 0;
  }
}
