.about_container {
  max-width: 77.5rem;
  height: 100%;
  min-height: 34.9rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
  padding: 0 1.5rem 2.38rem 1.5rem;
  gap: 2.38rem;
}

@media screen and (max-width: 378px) {
  .about_container {
    max-width: 20.9rem;
    width: 100%;
    /* min-height: 19.4rem; */
    gap: 1.25rem;
    padding: 0 1.25rem 1.19rem 1.25rem;
  }
}
